@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Naskh Arabic", serif;
  background: #000;
  margin: 0;
}

/* Cache scrollbar sur le filtre mobile */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }